.Container {
  display: flex;
  position: static;
  margin: 0 auto;
  padding-top: 50px;
  max-width: 450px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.Container h1 {
  font-weight: 700;
  font-size: 30px;
}

.ArrowBack {
  position: absolute;
  top: 30px;
  left: 10px;
  font-size: 30px;
}

.FormContainer {
  display: block;
  margin-top: 15px;
  width: 80%;
}

.FormItemLabel {
  font-size: 16px;
}

.Button {
  margin-top: 40px;
}
